.App {
  text-align: center;
}

.status{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;

 .statusContent{
  display: flex;
  justify-content: space-between;
  width: 100%; 
}
}
.board{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;

}
.cell{
  width: 100px;
  height: 100px;
  border:1px solid black;
 
}

